<!-- account-details.component.html -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account Details</title>
</head>
<body>

  <header>
    <nav>
      <ul>
        <li><a routerLink="/"><img src="assets/Digital Bank - Branding2.jpg" alt="DIGI BANK" class="logo" /></a></li>
        <li><a routerLink="/account-summary">Account Summary</a></li>
        <li><a routerLink="/account-details">Account Details</a></li>
        <li><a routerLink="/transfer">Transfer</a></li>
        <li *ngIf="loggedIn" style="font-style: italic;" class="greeting">Namaste, {{loggedInUserName}}</li>
        <li style="margin-left: auto; margin-right: 40px;"><a routerLink="/logout">Logout</a></li>
      </ul>
    </nav>
  </header>

<section class="account-details">
<div id="particles"></div>
<div class="content-overlay">
<div class="account-details-list">
<h3>Account Details</h3>
<button [hidden]="!selectedAccount.availableBalance" (click)="transfer()" class="transfer-button">
  Funds Transfer
</button>
<div *ngIf="showInsufficientFundsError" class="insufficient-funds-error">
  Insufficient Funds !!
</div>
    <div *ngIf="selectedAccount?.accountType == 'Fixed Deposit'" class="account-details">
        <img src="assets/fixed-deposit.jpg" alt="Account Icon" class="account-icon" />
        <div class="account-info">
          <p class="account-number">Account Number : <b>{{ selectedAccount.accountNumber }}</b></p>
          <p class="account-holder-name">Account Holder Name : <b>{{ selectedAccount.name }}</b></p>
          <p class="account-type">Account Type : <b>{{ selectedAccount.accountType.toString() | uppercase}}</b></p>
          <p class="available-balance">Available Balance : <b> <span class="currency-symbol">{{currencySymbol}}</span>{{ selectedAccount.availableBalance }}</b></p>
          <p class="available-balance">IFSC Code : <b>{{ selectedAccount.ifscCode }}</b></p>
          <p class="available-balance">Branch : <b>{{ selectedAccount.city }}</b></p>
        </div>
    </div>

    <div *ngIf="selectedAccount?.accountType == 'Savings'" class="account-details">
        <img src="assets/savings-account.jpg" alt="Account Icon" class="account-icon" />
        <div class="account-info">
          <p class="account-number">Account Number : <b>{{ selectedAccount.accountNumber }}</b></p>
          <p class="account-holder-name">Account Holder Name : <b>{{ selectedAccount.name }}</b></p>
          <p class="account-type">Account Type : <b>{{ selectedAccount.accountType.toString() | uppercase}}</b></p>
          <p class="available-balance">Available Balance : <b> <span class="currency-symbol">{{currencySymbol}}</span>{{ selectedAccount.availableBalance }}</b></p>
          <p class="available-balance">IFSC Code : <b>{{ selectedAccount.ifscCode }}</b></p>
          <p class="available-balance">Branch : <b>{{ selectedAccount.city }}</b></p>
        </div>
    </div>
  
    <div *ngIf="selectedAccount?.accountType == 'Current'" class="account-details">
        <img src="assets/current-account.jpg" alt="Account Icon" class="account-icon" />
        <div class="account-info">
          <p class="account-number">Account Number : <b>{{ selectedAccount.accountNumber }}</b></p>
          <p class="account-holder-name">Account Holder Name : <b>{{ selectedAccount.name }}</b></p>
          <p class="account-type">Account Type : <b>{{ selectedAccount.accountType.toString() | uppercase}}</b></p>
          <p class="available-balance">Available Balance : <b> <span class="currency-symbol">{{currencySymbol}}</span>{{ selectedAccount.availableBalance }}</b></p>
          <p class="available-balance">IFSC Code : <b>{{ selectedAccount.ifscCode }}</b></p>
          <p class="available-balance">Branch : <b>{{ selectedAccount.city }}</b></p>
        </div>
    </div>
</div>  
<br>
<!-- <div class="transaction-list">
  <h2>Transactions</h2>
  <table class="transaction-table">
    <thead>
      <tr>
        <th>Transaction ID</th>
        <th>Account Number</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Transaction Date</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let transaction of transactions; let even = even">
        <tr [class.odd-row]="!even" [class.even-row]="even">
          <td>{{ transaction.id }}</td>
          <td>{{ transaction.accountNumber }}</td>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.description }}</td>
          <td>{{ transaction.date | date: 'medium' }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <br>
</div> -->


<div class="transaction-header">
  <h3>Transactions</h3>
  <span>
    <mat-form-field class="filter">
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
    </mat-form-field>
  </span>
  <!-- <span>
    <mat-form-field class="search">
      <input matInput [(ngModel)]="searchText" (ngModelChange)="onSearchTextChanged($event)" placeholder="Search">
    </mat-form-field>
  </span> -->
</div>
<br>
<div class="transaction-list">
  <table mat-table [dataSource]="dataSource" matSort class="transaction-table">
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:#333; font-size: medium; color: white;">
        {{ column === 'accountNumber' ? 'Account Number' : (column === 'destinationAccountNumber' ? 'Destination Account Number' : column | titlecase) }}
      </th>
      <td mat-cell *matCellDef="let element; let i = index" [class.odd-row]="i % 2 !== 0" [class.even-row]="i % 2 === 0">
        <ng-container *ngIf="column === 'date' || column === 'amount'; else otherColumns">
          <div *ngIf="column === 'date'" [innerHTML]="element[column] | highlight: searchText | date: 'medium'"></div>
          <div *ngIf="column === 'amount'" [innerHTML]="element[column] | highlight: searchText | currency: 'USD'"></div>
        </ng-container>
        <ng-template #otherColumns>
          {{ element[column] | highlight: searchText }}
        </ng-template>
      </td>                
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
</div>
</div>
</section>
<footer>
  <p>&copy; 2023 Digi Bank. All rights reserved.</p>
</footer>
</body>
</html>

