body {
  font-family: 'Times New Roman', Times, serif;
}

.fundsTransfer {
    margin: auto;
    display: block;
    height: 950px;
    width: 100%;
    /* background: radial-gradient(#653d84, #332042); */
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}

.transfer {
    position: relative;
    margin-top: 0px;
    width: 180%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.transfer h3 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
    color: black;
}

.transfer input {
    display: flex;
    border: none;
    width: 150%; /* Adjust the width as needed */
    margin: 20px; /* Center the input fields */
    margin-left: -50px;
    border-bottom: 1px solid black;
    padding: 7px 9px;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: medium;
    margin-top: -25px;
}

.transfer label {
  display: flex;
  border: none;
  width: 130%; /* Adjust the width as needed */
  margin: 20px auto; /* Center the input fields */
  margin-left: -50px;
  padding: 7px 5px;
  overflow: hidden;
  background: transparent;
  font-weight: 600;
  font-size: medium;
  box-sizing: border-box;
  color: black;
}


button {
    display: block;
    margin: auto;
    border: none;
    padding: 15px 50px;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: -20px;
    background: rgb(50, 50, 50);
    color: #fff;
    font-weight: bold;
    font-size: large;
    -webkit-box-shadow: 0px 9px 15px -11px rgb(50, 50, 50);
    -moz-box-shadow: 0px 9px 15px -11px rgb(50, 50, 50);
    box-shadow: 0px 9px 15px -11px rgb(50, 50, 50);
}

.navigation {
  position: absolute;
  margin-top: 10px;
  width: 180%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.navigation button {
  display: block;
  margin: 0 30px;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  background: rgb(50, 50, 50);
  color: #fff;
  font-weight: bold;
  font-size: medium;
  -webkit-box-shadow: 0px 9px 15px -11px rgb(50, 50, 50);
  -moz-box-shadow: 0px 9px 15px -11px rgb(50, 50, 50);
  box-shadow: 0px 9px 15px -11px rgb(50, 50, 50);
}

button:hover {
  background: #404040; /* Adjust the hover color as needed */
}


.error-message {
    color: red;
    padding-left: 5px;
    margin-left: -50px;
    margin-top: -10px;
    font-size: medium;
}

.transfer .invalid-message {
    color: red;
    margin-left: 20px;
    margin-top: 20px;
    font-size: medium;
}

.insufficient-funds-transfer {
  color: red;
  margin-left: 20px;
  margin-top: 20px;
  font-size: medium;
}
  
  header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 40px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: large;
  }

    /* Add a hover effect for better visibility */
  nav ul li a:hover {
      color: #b0b0b0; /* Adjust the hover color as needed */
  } 
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    bottom: 0;
    width: 100%;
  }

  #particles {
    background-color: black;
    height: 950px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0;
  }
  
  .content-overlay {
    position: absolute;
    top: 50%; /* Adjust this value as needed */
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
    color: white;
    font-size: larger;
    font-weight: 500;
    z-index: 2; /* Ensure the content is above the particles.js background */
  }

  .required {
    margin-top: -5px;
    padding-left: 3px;
    color: red;
    font-size: large;
  }

  .logo {
    position: absolute;
    height: auto;
    width: 30px;
    margin-left: -20px;
    /* margin-top: -5px; */
  }
  
  .greeting {
    color: #00b0a0;
    /* margin-right: -50px; */
    margin-left: 400px;
    /* color:  rgb(215, 0, 0); */
  }