
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account Summary</title>
</head>

<body>
<header>
  <nav>
    <ul>
      <li><a routerLink="/"><img src="assets/Digital Bank - Branding2.jpg" alt="DIGI BANK" class="logo" /></a></li>
      <li><a routerLink="/account-summary">Account Summary</a></li>
      <li><a routerLink="/account-details">Account Details</a></li>
      <li><a routerLink="/transfer">Transfer</a></li>
      <li *ngIf="loggedIn" style="font-style: italic;" class="greeting">Namaste, {{loggedInUserName}}</li>
      <li style="margin-left: auto; margin-right: 30px;"><a routerLink="/logout">Logout</a></li>
    </ul>
  </nav>
</header>

    <section class="summary">
    <div id="particles"></div>
    <div class="content-overlay">
    <div class="account-summary">
    <h2>Welcome {{this.user?.name}}</h2>
    <button [hidden]="isMaxAccountsReached()" (click)="addNewAccount()" class="add-account-button">
      Add New Account
    </button>
    <ng-container *ngIf="accounts && accounts.length > 0">
    <h3 *ngIf="accounts">Below are the list of your accounts</h3>
    <div *ngIf="showMaxAccountLimitError" class="max-account-limit-error">
      Maximum accounts limit reached !!
    </div>
    <br>
    
    <div *ngFor="let account of accounts" class="account-item">
      <div *ngIf="account.accountType == 'Savings'" class="savings-account">
        <img src="assets/savings-account.jpg" alt="Account Icon" class="account-icon" />
        <div class="account-info">
          <p class="account-number">Account Number - <a (click)="viewDetails(account.accountNumber)">{{ account.accountNumber }}</a></p>
          <p class="account-holder-name">Account Holder Name : {{ account.name }}</p>
          <p class="account-type">Account Type: {{ account.accountType.toString() }}</p>
          <p class="available-balance">Available Balance: <span class="currency-symbol">{{currencySymbol}}</span> {{ account.availableBalance }}</p>
        </div>
      </div>
      <div *ngIf="account.accountType == 'Current'" class="current-account">
        <img src="assets/current-account.jpg" alt="Account Icon" class="account-icon" />
        <div class="account-info">
          <p class="account-number">Account Number - <a (click)="viewDetails(account.accountNumber)">{{ account.accountNumber }}</a></p>
          <p class="account-holder-name">Account Holder Name : {{ account.name }}</p>
          <p class="account-type">Account Type: {{ account.accountType.toString() }}</p>
          <p class="available-balance">Available Balance: <span class="currency-symbol">{{currencySymbol}}</span> {{ account.availableBalance }}</p>
        </div>
      </div>
      <div *ngIf="account.accountType == 'Fixed Deposit'" class="fixed-deposit">
        <img src="assets/fixed-deposit.jpg" alt="Account Icon" class="account-icon" />
        <div class="account-info">
          <p class="account-number">Account Number - <a (click)="viewDetails(account.accountNumber)">{{ account.accountNumber }}</a></p>
          <p class="account-holder-name">Account Holder Name : {{ account.name }}</p>
          <p class="account-type">Account Type: {{ account.accountType.toString() }}</p>
          <p class="available-balance">Available Balance: <span class="currency-symbol">{{currencySymbol}}</span> {{ account.availableBalance }}</p>
        </div>
      </div>
    </div>
    </ng-container>
  </div>
  
  </div>
  </section>
  <footer>
    <p>&copy; 2023 Digi Bank. All rights reserved.</p>
  </footer>
  
</body>
</html>

